<h2>Update your password</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-item">
  <%= f.label :password, "New password" %>
  <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class="form-item">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-item">
  <%= f.label :current_password %>
  <%= f.password_field :current_password %>
  <div class="info">We need your current password to confirm your change.</div>
  </div>

  <ul class="form-controls">
    <li class="first"><%= f.submit "Save change" %></li>
    <li class="last"><%= link_to "Cancel", :back %></li>
  </ul>
  
<% end %>