<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>  
  
  <%= render :partial => "user/profile_fields", :locals =>  {:form => f, :user => resource, :mode => :register} %>
  
  <ul class="form-controls">
    <li class="first"><%= f.submit "Sign up", :class => 'btn btn-primary' %></li>
    <li class="last"><%= link_to "Cancel", :back, :class => 'btn' %></li>
  </ul>
  
<% end %>