<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-item">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <ul class="form-controls">
    <li class="first"><%= f.submit "Send me reset password instructions" %></li>
    <li class="last"><%= link_to "Cancel", :back %></li>
  </ul>
<% end %>

<%= render "devise/shared/links" %>
