<h2>About Bike Buddy</h2>

<p><i>Bike Buddy</i> connects people who are interested in trying bicycle
commuting with experienced bicycle commuters who want to help.</p>

<p>There are some great tools available to connect current commuters
of varying types and transportation options. <i>Bike Buddy</i> is the
first to exclusively match cyclists  solely based
on their experience level.</p>

<p><i>Bike Buddy</i> is an Austin Bike Month initiative. We hope it
will provide insight into the demand for this type of
service, and what kinds of services we can offer to bring more
people to try bike commuting.</p>

<p>We hope <i>Bike Buddy</i> helps you have a great bike commuting
experience. If you run into any problems or have any feedback, don't
hesitate to contact us at: bike-buddy@open-austin.org</p>

<h3>Resources</h3>

<p>For information on general commuting options in Central Texas, including
tools to find commute partners, visit:
<a href="https://www.mycommutesolutions.com/public/Home.aspx">My Commute
Solutions</a>.

<h3>About Open Austin</h3>

<p><a href="http://www.open-austin.org/">Open Austin</a> is a local,
volunteer advocacy group. We advocate for open government, open data,
and civic technology. <i>Bike Buddy</i> was created by our volunteer
hackers, and presented as a public service.</p>

<h3>Credits</h3>

<p>Contributors include: Chip Rosenthal (project lead), Lewis Leff, Juliette
Kernion, and Noah Sloan.</p>

<p>This project is <i>open source</i>, and can be downloaded at:
<a href="https://github.com/chip-rosenthal/bike-buddy">https://github.com/chip-rosenthal/bike-buddy</a>.</p>

<h3>Supporters</h3>

<p><i>Bike Buddy</i> was developed as a partnership between
<a href="http://www.open-austin.org/">Open Austin</a>,
the <a href="http://www.austintexas.gov/place-1">Office of Council Member Chris Riley</a>,
the <a href="http://austintexas.gov/department/bicycle-program-0">City of Austin Public Works Neighborhood Connectivity Division</a>,
and many of the great bicycle organizations in Austin.</p>

<div class="supporter-logos">
  <%= link_to "http://www.austintexas.gov/place-1" do %>
    <%= image_tag "logo_chris_riley_280x280.png",
      :alt => "Office of Council Member Chris Riley",
      :title =>"Office of Council Member Chris Riley"
    %>
  <% end %>
  <%= link_to "http://austintexas.gov/department/bicycle-program-0" do %>
    <%= image_tag "logo_city_of_austin_280x280.png",
      :alt => "City of Austin Public Works Neighborhood Connectivity Division",      
      :title => "City of Austin Public Works Neighborhood Connectivity Division"      
    %>
  <% end %>
  <br />
  <%= link_to "http://bikeaustin.org/" do %>
    <%= image_tag "logo_bikeaustin_280x280.png",
      :alt => "BikeAustin",      
      :title => "BikeAustin"
    %>
  <% end %>
  <%= link_to "http://www.austincycling.org/" do %>
    <%= image_tag "logo_austin_cycling_assn_280x280.png",
      :alt => "Austin Cycling Association",      
      :title =>"Austin Cycling Association"      
    %>
  <% end %>
  <%= link_to "http://www.biketexas.org/" do %>     
    <%= image_tag "logo_biketexas_280x280.png",
      :alt => "BikeTexas",      
      :title => "BikeTexas"      
    %>
  <% end %>
</div>
            
