<div class="form-item">
<%= form.label :name, "Name" %>
<%= form.text_field :name %>
<div class="info">Your first name and initial (like "Joe R.") will be displayed to the public.</div>
</div>

<div class="form-item">
<%= form.label :is_enabled, "Put me on the map" %>
<%= form.check_box :is_enabled %>
<%= form.label :is_enabled_true, "Enable this to make your profile available to potential buddies. Uncheck this to make your profile private.", :class => "control-label" %>
</div>

<div class="form-item">
<%= form.label :email %>
<%= form.email_field :email, :autofocus => true %>
<div class="info">Your email address will be shared with potential buddies.</div>
<% if devise_mapping.confirmable? && user.pending_reconfirmation? %>
<div class="info">Currently waiting confirmation for: <%= user.unconfirmed_email %></div>
<% end %>
</div>

<div class="form-item">
<%= form.label :contact_opt_in, "Opt in" %>
<%= form.check_box :contact_opt_in %>
<%= form.label :contact_opt_in_true, "Yes, please let me know about upcoming bike commuting initiatives.", :class => "control-label" %>
<div class="info">(But we won't spam you or share your email address with anybody other than potential buddies.)</div>
</div>

<div class="form-item">
<%= form.label :phone %>
<%= form.telephone_field :phone %>
<div class="info">Your phone number will be shared with potential buddies.</div>
</div>

<div class="form-item">
<%= form.label :is_experienced, "Experience level" %>  
<%= form.radio_button :is_experienced, true %>
<%= form.label :is_experienced_true, "I am experienced bike commuter. I offer to help a buddy.", :class => "control-label" %>
<br />
<%= form.radio_button :is_experienced, false %>
<%= form.label :is_experienced_false, "I am a new bike commuter. I seek a buddy to help me.", :class => "control-label" %>
</div>

<div class="form-item">
<%= form.label :origination_address %>
<div class="location-picker-map" id="origination_map"></div>
<%= form.text_field :origination_address, :readonly => true %>
<%= form.hidden_field :origination_latitude %>
<%= form.hidden_field :origination_longitude %>
<div class="info">Click on location where would you like to start your commute. This will be displayed to the public, so you may want to show a nearby intersection rather than your home address.</div>
</div>

<div class="form-item">
<%= form.label :destination_address %>
<div class="location-picker-map" id="destination_map"></div>
<%= form.text_field :destination_address, :readonly => true %>
<%= form.hidden_field :destination_latitude %>
<%= form.hidden_field :destination_longitude %>
<div class="info">Click on location where would you like to end your commute. This will be displayed to the public, so you may want to show a nearby intersection rather than your destination address.</div>
</div>


<%= javascript_tag do %>

function createMapWidget(elementValues) {

  var that = this;

  var widget = $(elementValues.address).addresspicker({
    regionBias: "US",
    reverseGeocode: true,
    mapOptions: {
        zoom: 14, 
        center: new google.maps.LatLng(30.261214068166684,-97.73637580871582),
        scrollwheel: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    },    
    elements: elementValues,
  });
  
  var map = widget.addresspicker("map");
  var marker = widget.addresspicker("marker");  
  
  google.maps.event.addListener(map, 'click', function(event) {
    widget.addresspicker("movePosition", event.latLng);
  });  
  
  marker.setVisible(true);
  widget.addresspicker("updatePosition");
  
  return widget;
}

$(function() {
  createMapWidget({
    map: "#origination_map",
    address: "#user_origination_address",
    lat: "#user_origination_latitude",
    lng: "#user_origination_longitude",
  });
  createMapWidget({
    map: "#destination_map",
    address: "#user_destination_address",
    lat: "#user_destination_latitude",
    lng: "#user_destination_longitude",
  });
});

<% end %>


<div class="form-item">
<%= form.label :schedule %>
<%= form.text_field :schedule %>
<div class="info">Describe days/dates/times you typically start your commute, as well as how flexible your schedule is.</div>
</div>

<div class="form-item">
<%= form.label :user_note %>
<%= form.text_field :user_note %>
<div class="info">Provide any additional information a potential bike buddy should know.</div>
</div>

</div>
