<h2>Selected Buddy</h2>

<table class="table table-condensed span8">
  <tbody>
    <tr><th>Name:</th> <td><%= h(@buddy.name) %></td></tr>
    <tr><th>Buddy type:</th> <td><%= @buddy.commuter_type %> commuter</td></tr>
    <tr><th>Origination address:</th> <td><%= h(@buddy.origination_address) %></td></tr>
    <tr><th>Destination address:</th> <td><%= h(@buddy.destination_address) %></td></tr>
    <tr><th>Commute schedule:</th> <td><%= h(@buddy.schedule) %></td></tr>
    <% unless @buddy.user_note.empty? %>
    <tr><th>Notes:</th> <td><%= h(@buddy.user_note) %></td></tr>
    <% end %>
  <tbody>
</table>
<div class="clearfix"></div>

<h2>Do you want to contact this buddy?</h2>

<p>If you initiate contact, an email will be sent to both you and the buddy,
with both yours and theirs profile information.</p>

<%= form_for @buddy, :url => {:action => "contact"} do |f| %>

  <div class="form-item">
    <%= label_tag :message, "Optional note:" %>
    <%= text_area_tag :message, nil, :rows => 8, :class => "input-xxlarge" %>
    <div class="info">This note will be included in the message sent to your buddy contact.</div>
  </div>

  <ul class="form-controls">
    <li class="first"><%= f.submit "Send contact" %></li>
    <li class="last"><%= link_to "Cancel", :back %></li>
  </ul>
    
<% end %>
